:host {
  display: block;
}

.study-module--4 {
  --module-bg-position: center 88%;
  --module-tag-left: 5.83vw;
  --module-tag-top: 6.85vh;
  --module-tag-width: 20.36vw;
  --module-tag-height: 19.54vh;
  --module-tag-font-size: 4.65vw;
  --module-title-left: 29.43vw;
  --module-title-top: 6.85vh;
  --module-title-width: 38.49vw;
  --module-title-height: 19.54vh;
  --module-title-font-size: 3.85vw;
  --module-speech-left: auto;
  --module-speech-right: 27.45vw;
  --module-speech-top: 33.7vh;
  --module-speech-width: 19.48vw;
  --module-speech-height: 16.39vh;
  --module-speech-tail-right: -0.6vw;
  --module-character-right: 4.9vw;
  --module-character-top: 44.8vh;
  --module-character-width: 21.5vw;
}

.study-module__speech::after{
  rotate: 342deg;
}
.study-module__module-tag, .study-module__title{
  span{
      transform: scaleY(2);
  font-size: 60px;
  }
}