:host {
  display: block;
}

.study-module--1 {
  --module-bg-position: center 0;
  --module-tag-left: 4.58vw;
  --module-tag-top: 6.48vh;
  --module-tag-width: 19.38vw;
  --module-tag-height: 19.54vh;
  --module-tag-font-size: 4.65vw;
  --module-title-left: 61.3vw;
  --module-title-top: 7.41vh;
  --module-title-width: 34.32vw;
  --module-title-height: 19.54vh;
  --module-title-font-size: 4.1vw;
  --module-panel-width: 47.05vw;
  --module-panel-height: 63.52vh;
  --module-panel-left: auto;
  --module-panel-right: 11.41vw;
  --module-panel-bottom: 3.43vh;
  --module-video-height: 41.95vh;
  --module-speech-left: 27.97vw;
  --module-speech-top: 16.02vh;
  --module-speech-width: 23.6vw;
  --module-speech-height: 17.22vh;
  --module-speech-tail-left: 1.85vw;
  --module-character-left: 11.1vw;
  --module-character-top: 34.07vh;
  --module-character-width: 20vw;
}
