:host {
  display: block;
}

.study-module--2 {
  --module-bg-position: center 32.35%;
  --module-tag-left: 4.9vw;
  --module-tag-top: 7.96vh;
  --module-tag-width: 20.36vw;
  --module-tag-height: 19.72vh;
  --module-tag-font-size: 4.65vw;
  --module-title-left: 27.55vw;
  --module-title-top: 8.06vh;
  --module-title-width: 37.4vw;
  --module-title-height: 19.72vh;
  --module-title-font-size: 3.85vw;
  --module-panel-width: 47.39vw;
  --module-panel-height: 63.33vh;
  --module-panel-left: 10.31vw;
  --module-panel-right: auto;
  --module-panel-bottom: 5.46vh;
  --module-video-height: 41.95vh;
  --module-speech-left: auto;
  --module-speech-right: 2.34vw;
  --module-speech-top: 4.63vh;
  --module-speech-width: 23.59vw;
  --module-speech-height: 20.46vh;
  --module-speech-tail-left: 2.3vw;
  --module-character-right: 21.15vw;
  --module-character-top: 22.8vh;
  --module-character-width: 17.55vw;
}
