:host {
  display: block;
}

.study-module--3 {
  --module-bg-position: center 56%;
  --module-tag-left: 5.83vw;
  --module-tag-top: 6.76vh;
  --module-tag-width: 20.36vw;
  --module-tag-height: 19.72vh;
  --module-tag-font-size: 4.65vw;
  --module-title-left: 56.3vw;
  --module-title-top: 6.76vh;
  --module-title-width: 38.64vw;
  --module-title-height: 19.72vh;
  --module-title-font-size: 3.95vw;
  --module-panel-width: 47.34vw;
  --module-panel-height: 63.43vh;
  --module-panel-left: auto;
  --module-panel-right: 11.88vw;
  --module-panel-bottom: 4.07vh;
  --module-video-height: 41.95vh;
  --module-speech-left: 28.54vw;
  --module-speech-top: 9.17vh;
  --module-speech-width: 23.69vw;
  --module-speech-height: 20.56vh;
  --module-speech-tail-left: 1.7vw;
  --module-character-left: 5.9vw;
  --module-character-top: 27.55vh;
  --module-character-width: 18.25vw;
}
